.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-image {
    width: 100%;
    max-width: 48rem;
}

.image {
    width: 100%;
    border-radius: 0.5rem;
}

.thumbnail-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.thumbnail {
    border-radius: 0.5rem;
    height: 3.5rem;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.thumbnail:hover {
    opacity: 0.8;
}